# Data Mining Final Project 2021 - 2022
## Authors: Beatriz Gonçalves (m20210695), Diogo Hipólito (m20210633) and Diogo Pereira (m20210657)

# 1) Introduction

The client, a Marketing Department from an an insurance company, wishes to better understand the scope of its clients, in order to better serve them and increase their ROI (Return On Investment). The group was given an ABT (Analytic Based Table), consisting of 10.290 customers and given the task of analyzing the table for evident groups of clusters, extracting the behaviour of said clusters and provide insights on how to better serve them.

The project is contained within a Github repository which can be accessed through the following link: https://github.com/beatrizctgoncalves/project_dm. This repository provides a Jupyter Notebook with all the relevant analysis and a report that summarizes the work done. Note that these two documents should be used together as they complement each other.

## 1.1) Importing Packages

In [47]:
# Required imports for the project
#!pip install sas7bdat

from sas7bdat import SAS7BDAT
import numpy as np
import pandas as pd
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
from math import ceil

# 2) Importing and Assessing Data

In [48]:
df_insurance = pd.read_sas('a2z_insurance.sas7bdat')
conn = sqlite3.connect('a2z_insurance.db')
cursor = conn.cursor()

# Build Analytical Base Table (ABT)
df_insurance.to_sql(name='file', con=conn, if_exists='replace', index=False)

In [49]:
# Dataset head
df_insurance.head()

,CustID,FirstPolYear,BirthYear,EducDeg,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
0,1.0,1985.0,1982.0,b'2 - High School',2177.0,1.0,1.0,380.97,0.39,375.85,79.45,146.36,47.01,16.89
1,2.0,1981.0,1995.0,b'2 - High School',677.0,4.0,1.0,-131.13,1.12,77.46,416.20,116.69,194.48,106.13
2,3.0,1991.0,1970.0,b'1 - Basic',2277.0,3.0,0.0,504.67,0.28,206.15,224.50,124.58,86.35,99.02
3,4.0,1990.0,1981.0,b'3 - BSc/MSc',1099.0,4.0,1.0,-16.99,0.99,182.48,43.35,311.17,35.34,28.34
4,5.0,1986.0,1973.0,b'3 - BSc/MSc',1763.0,4.0,1.0,35.23,0.90,338.62,47.80,182.59,18.78,41.45

In [50]:
df_insurance.set_index("CustID",inplace=True)

In [51]:
# Get dimension of the dataset
df_insurance.shape

(10296, 13)

In [52]:
# Get data types and 
df_insurance.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 10296 entries, 1.0 to 10296.0
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FirstPolYear   10266 non-null  float64
 1   BirthYear      10279 non-null  float64
 2   EducDeg        10279 non-null  object
 3   MonthSal       10260 non-null  float64
 4   GeoLivArea     10295 non-null  float64
 5   Children       10275 non-null  float64
 6   CustMonVal     10296 non-null  float64
 7   ClaimsRate     10296 non-null  float64
 8   PremMotor      10262 non-null  float64
 9   PremHousehold  10296 non-null  float64
 10  PremHealth     10253 non-null  float64
 11  PremLife       10192 non-null  float64
 12  PremWork       10210 non-null  float64
dtypes: float64(12), object(1)
memory usage: 1.1+ MB

In [53]:
# Check for duplicates
df_insurance.duplicated().sum()

3

In [54]:
#Seems like there are 3 duplicates in our data, let's remove them
df_insurance = df_insurance[df_insurance.duplicated()==False]

In [86]:
df_insurance = df_insurance.astype({"GeoLivArea": object, "Children": object})

In [87]:
#First divide the variables into metric and non-metric
non_metric_features = ["EducDeg","GeoLivArea","Children"]
metric_features = df_insurance.columns.difference(non_metric_features)

print("Non metric features: ")
print(non_metric_features)

print("Metric features: ")
print(metric_features)

Non metric features:
['EducDeg', 'GeoLivArea', 'Children']
Metric features:
Index(['BirthYear', 'ClaimsRate', 'CustMonVal', 'FirstPolYear', 'MonthSal',
       'PremHealth', 'PremHousehold', 'PremLife', 'PremMotor', 'PremWork'],
      dtype='object')

In [88]:
desc_num = df_insurance[metric_features].describe().T
missing = df_insurance.isnull().sum(axis=0)
desc_num["missing values"] = missing

desc_num

,count,mean,std,min,25%,50%,75%,max,missing values
BirthYear,10276.0,1968.006909,19.710742,1028.00,1953.00,1968.00,1983.00,2001.00,17
ClaimsRate,10293.0,0.742728,2.917385,0.00,0.39,0.72,0.98,256.20,0
CustMonVal,10293.0,177.929963,1946.091554,-165680.42,-9.44,187.03,399.86,11875.89,0
FirstPolYear,10263.0,1991.064893,511.342617,1974.00,1980.00,1986.00,1992.00,53784.00,30
MonthSal,10257.0,2506.618699,1157.518390,333.00,1706.00,2502.00,3290.00,55215.00,36
PremHealth,10250.0,171.553183,296.444399,-2.11,111.80,162.81,219.04,28272.00,43
PremHousehold,10293.0,210.419863,352.635041,-75.00,49.45,132.80,290.05,25048.80,0
PremLife,10189.0,41.848724,47.484264,-7.00,9.89,25.56,57.79,398.30,104
PremMotor,10259.0,300.501550,211.937740,-4.11,190.59,298.61,408.30,11604.42,34
PremWork,10207.0,41.283712,51.519022,-12.00,10.67,25.67,56.79,1988.70,86

Problematic values:
- BirthYear: min = 1028. That is impossible, that person would have to be almost 1000 years old
- FirstPolYear: max = 53784. Impossible, there can't be data from the future
- Every other variable: Looks like there are a lot of outliers. The difference between the 75th percentile and the max is signficant, so does between the 25th percentile and the min.

Missing values: We will have to decide later on how to deal with the missing values, the PremLife variable specifically has a lot of missing values (104).

In [113]:
desc_cat= df_insurance[non_metric_features].describe().T
mode = df_insurance[non_metric_features].mode().T
desc_cat["mode"] = mode
desc_cat["missing values"] = missing
desc_cat

,count,unique,top,freq,mode,missing values
EducDeg,10276,4,b'3 - BSc/MSc',4799,b'3 - BSc/MSc',17
GeoLivArea,10292.0,4.0,4.0,4142.0,4.0,1
Children,10272.0,2.0,1.0,7260.0,1.0,21

There are some missing values, but nothing worrying